.head-numbers {
    color: #FFF;

    font-variant-numeric: slashed-zero;
    font-family: "Inter Display";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px; /* 116.667% */
    letter-spacing: -1px;
}

input {
    height:56px;
}