<app-header button2Text="Let's Talk" headTitle1="Sustainable Construction" headTitle2="Starts with Re-PAC"
    headTitle2_2="" description1="We ensure a greener future for construction through our innovative technology"
    imagePath="https://api-tilegreen.pulslytics.agency/media/images/header/TGBackground2.png" />
<div class="container mx-auto px-0 md:px-24">

    <app-first-section-apps />
</div>

<app-footer-home
    firstSectionTitle="Pre-oreder now and explore the future of sustainable construction with TileGreen's innovative materials"
    firstSectionDescription=" " imagePath="https://api-tilegreen.pulslytics.agency/media/images/footer/apps-f-background.png" textPosition="left" />