<app-header headTitle1="Bring TileGreen's" headTitle2="Technology" headTitle3="to Your Market"
    description1="Turn unrecyclable plastic into high-performance, carbon-negative"
    description2="building materials. Explore our exclusive licensing opportunities" button2Text="Express Interest"
    imagePath="https://api-tilegreen.pulslytics.agency/media/images/header/TGBackground1.png" />
<div class="container mx-auto px-4 md:px-32">
    <app-first-section-liscence />
    <app-second-section-liscence />
</div>
<app-footer-home textPosition="left" firstSectionTitle="Still have questions? get in touch with our team to learn more."
    firstSectionDescription=" " firstSectionButtonText="Get in Touch"
    imagePath="https://api-tilegreen.pulslytics.agency/media/images/footer/apps-f-background.webp" />