<app-header headTitle1="Bring TileGreen's" headTitle2="Technology" headTitle3="to Your Market"
    description1="Turn unrecyclable plastic into high-performance, carbon-negative"
    description2="building materials. Explore our exclusive licensing opportunities" button1Text="Learn More"
    button2Text="Get Started" imagePath="assets/images/header/TGBackground1.png" />
<app-first-section-liscence />
<app-second-section-liscence />
<app-footer-home
textPosition="left"
firstSectionTitle="Still have questions? get in touch with our team to learn more."
firstSectionDescription=" "
firstSectionButtonText="Get in Touch"
imagePath="assets/images/footer/apps-f-background.png"
textPosition="left"
/>