<app-header button2Text="Let's Talk" headTitle1="Innovating a Greener" headTitle2="Tomorrow"
    description1="we're paving the way for a greener and more sustainable future"
    imagePath="https://api-tilegreen.pulslytics.agency/media/images/header/TGBackground3.png" />

<div class="container mx-auto px-4 md:px-32">
    <div class="">
        <app-first-section-tech />
        <app-second-section-tech />
    </div>
</div>
<app-footer-home firstSectionTitle="We're Here to Help!" imagePath="https://api-tilegreen.pulslytics.agency/media/images/footer/f-home.png"
    textPosition="center" />