@defer (on viewport) {
<div class="route-loading-indicator fixed top-0 left-0 w-full h-1 z-50" *ngIf="isRouteLoading">
  <div class="h-full bg-[#0F8C22] animate-loadingBar"></div>
</div>

<app-header [button1Text]="headerConfig.button1Text" [button2Text]="headerConfig.button2Text ?? null"
  [headTitle1]="headerConfig.headTitle1" [headTitle2]="headerConfig.headTitle2"
  [headTitle2_2]="headerConfig.headTitle2_2 ?? null" [headTitle3]="headerConfig.headTitle3"
  [headTitleLibre]="headerConfig.headTitleLibre ?? null" [headTitle2Font]="headerConfig.headTitle2Font ?? null"
  [description1]="headerConfig.description1" [description2]="headerConfig.description2 ?? null"
  [imagePath]="headerConfig.imagePath" [navigateTo]="headerConfig.navigateTo"></app-header>

<router-outlet></router-outlet>

<app-contact-us-pop [isOpen]="isContactPopupOpen" (closeEvent)="closeContactPopup()"></app-contact-us-pop>

}@placeholder (minimum 500ms) {
<app-loading />
}
@loading (after 200ms; minimum 1s) {
<app-loading />
}