<app-header headTitle1="Innovating" headTitle2="technology" headTitle3="to transform our world"
    description1="Green Technologies to transform plastic waste into circular green building materials, Pioneering the future "
    button1Text="Discover Our Technology" button2Text="Let's Talk" imagePath="assets/images/cover.png" navigateTo="/technology" />

<!-- Hero section with corrected layout -->
<app-intro />

<br>

<div class=" mx-auto max-w-full">
<div class=" px-4 ">
    <app-first-section />
</div>
    <app-second-section />
    <app-third-section />
    <app-fourth-section />
    <app-fifth-section />
</div>
<app-footer-home firstSectionTitle="We're Here to Help!" firstSectionDescription=" We'd love to hear from you! Whether you have questions about our eco-friendly solutions, need assistance with your projects, or just want to learn more about TileGreen, our team is here to help" imagePath="assets/images/footer/f-home.png" textPosition="center" />