<app-header class="absolute top-0 left-0 right-0 z-10" />
<div class="relative">
    <div class="absolute inset-0">
        <img src="assets/images/cover.png" class="w-full h-full object-cover" alt="Cover Image" />
    </div>

    <div class="relative h-screen z-5 text-white px-16 flex items-end py-16">
        <div class="w-full">
            <div class="border-b py-8 flex flex-col lg:flex-row lg:items-center lg:justify-between">
                <div class="lg:w-1/2">
                    <span class="text-3xl md:text-4xl lg:text-5xl font-bold mb-4 leading-18">
                        Innovating<br> <i>technology</i> <br>
                        to transform our world
                    </span>
                </div>
                <div class="">
                    <a href="#"
                        class="relative flex items-center justify-between px-6 py-3 rounded-full text-white w-full lg:max-w-md overflow-hidden">
                        <span class="z-10 text-2xl font-light">Discover Our Technology</span>
                        <div class="ml-2 bg-white rounded-full w-12 h-12 flex items-center justify-center z-10">
                            <span class="material-symbols-outlined text-blue-800 text-3xl">arrow_forward</span>
                        </div>
                        <div
                            class="absolute inset-0 bg-gradient-to-r from-blue-800 to-blue-700 opacity-75 backdrop-blur-sm">
                        </div>
                    </a>
                </div>
            </div>
            <div class="flex flex-col md:flex-row md:items-center md:justify-between pt-8">
                <div class="text-lg md:text-xl mb-8 md:mb-0 font-inter-display font-normal md:max-w-3xl">
                    <!-- description -->
                    <span>Green Technologies to transform plastic waste into circular green
                        <br> building materials, Pioneering the future.</span>
                </div>
                <!-- let's talk button -->
                <a href="#"
                    class="contact-button relative border border-white rounded-full px-4 sm:px-6 py-1 sm:py-2 text-white hover:bg-white hover:text-black transition overflow-hidden self-start md:self-center whitespace-nowrap">
                    <span class="relative z-10">Let's Talk</span>
                    <div class="absolute inset-0 bg-black opacity-25"></div>
                </a>
            </div>
        </div>
    </div>
</div>



<div>
    <div>
        <span class="block">Patented Machine Learning Technology Leading the Way</span>

        <a href="#"
            class="contact-button relative border border-white rounded-full px-4 sm:px-6 py-1 sm:py-2 text-white hover:bg-white hover:text-black transition overflow-hidden self-start md:self-center whitespace-nowrap">
            <span class="relative z-10">Explore Our Tech</span>
            <div class="absolute inset-0 bg-black opacity-25"></div>
        </a>
    </div>
    <div>
        <img src="assets/images/section1.png" class="w-[474px] h-[513px] rounded-3xl">
        <span></span>
    </div>
</div>