<div class="container mx-auto px-4 md:px-8 lg:px-26">
    <div class="">
        <app-first-section />
        <app-second-section />
        <app-third-section />
        <app-fourth-section />
        <app-case-studies-slider />
        <app-fifth-section />
    </div>
</div>


<app-footer-home firstSectionTitle="We're Here to Help!" firstSectionButtonText="Contact Us"
    firstSectionDescription=" We'd love to hear from you! Whether you have questions about our eco-friendly solutions, need assistance with your projects, or just want to learn more about TileGreen, our team is here to help"
    imagePath="https://api-tilegreen.pulslytics.agency/media/images/footer/fhome.webp" textPosition="center" />