.rectangle {
  width: 24px;
  height: 24px;

  background: #0460d9;
  border-radius: 4px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}


.text {
  /* What makes us special */


  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.line {
  position: absolute;
  left: calc(
    178px + 24px + 12px
  ); /* Width of text + width of rectangle + gap */
  right: 0;
  top: 50%;
  height: 1px;
  background-color: #464646;
}
