@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/fonts/NeueHaasDisplayRoman.ttf") format("truetype");
}

@font-face {
  font-family: "Libre Baskerville";
  src: url("./assets/fonts/LibreBaskerville-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url("./assets/fonts/LibreBaskerville-Italic.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter_Display';
  src: url("./assets/fonts/Inter_18pt-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}


/* Custom styles below this line */

/* Modern animations for the About page */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDelayed {
  0%,
  30% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDelayed2 {
  0%,
  50% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDelayed3 {
  0%,
  70% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}

.animate-fadeInDelayed {
  animation: fadeInDelayed 1.5s ease-out forwards;
}

.animate-fadeInDelayed2 {
  animation: fadeInDelayed2 2s ease-out forwards;
}

.animate-fadeInDelayed3 {
  animation: fadeInDelayed3 2.5s ease-out forwards;
}