@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/fonts/NeueHaasDisplayRoman.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Neue_Haas_Grotesk_Display_Pro";
  src: url("./assets/fonts/NeueHaasDisplayRoman.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Neue_Haas_Grotesk_Display_Bold";
  src: url("./assets/fonts/NeueHaasDisplayBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url("./assets/fonts/LibreBaskerville-Italic.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "NeueHaasDisplayMediu";
  src: url("./assets/fonts/NeueHaasDisplayMediu.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Inter_Display";
  src: url("./assets/fonts/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Display";
  src: url("./assets/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter_Display_Md";
  src: url("./assets/fonts/Inter_18pt-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Inter_Display_semibold";
  src: url("./assets/fonts/Inter_18pt-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter_Display_Bold";
  src: url("./assets/fonts/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

.text-tile-regular {
  font-family: "Neue Haas Display", sans-serif;
  font-weight: 500;
  line-height: normal;
  font-style: normal;
}

.text-tile-md {
  font-family: "NeueHaasDisplayMediu", sans-serif;
  font-weight: 500;
  line-height: normal;
  font-style: normal;
}

.text-tile-bold {
  font-family: "Neue_Haas_Grotesk_Display_Bold", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

body {
  overflow-x: hidden;
}

.text-dashed {
  font-variant-numeric: slashed-zero;
}

.text-tile-inter-md {
  font-family: "Inter_Display_Md";
  font-weight: 500;
}

.text-tile-inter {
  font-family: "Inter_Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}
.text-tile-inter-bold {
  font-family: "Inter_Display_Bold", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
}
/* Custom styles below this line */

// /* Modern animations for the About page */
// @keyframes fadeIn {
//   0% {
//     opacity: 0;
//     transform: translateY(20px);
//   }
//   100% {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }

// @keyframes fadeInDelayed {
//   0%,
//   30% {
//     opacity: 0;
//     transform: translateY(20px);
//   }
//   100% {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }

// @keyframes fadeInDelayed2 {
//   0%,
//   50% {
//     opacity: 0;
//     transform: translateY(20px);
//   }
//   100% {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }

// @keyframes fadeInDelayed3 {
//   0%,
//   70% {
//     opacity: 0;
//     transform: translateY(20px);
//   }
//   100% {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }

// .animate-fadeIn {
//   animation: fadeIn 1s ease-out forwards;
// }

// .animate-fadeInDelayed {
//   animation: fadeInDelayed 1.5s ease-out forwards;
// }

// .animate-fadeInDelayed2 {
//   animation: fadeInDelayed2 2s ease-out forwards;
// }

// .animate-fadeInDelayed3 {
//   animation: fadeInDelayed3 2.5s ease-out forwards;
// }
