<div class="py-6">
    <section class="logo-carousel-container">
        <div class="logo-carousel">
            <div class="fade-overlay fade-left"></div>

            <div class="logo-track" [style.animationDuration]="animationDuration + 's'">
                <div class="logo-group">
                    @for (company of logos; track company.company_name) {
                    <div class="logo-item">
                        <img [src]="company.logo" [alt]="company.company_name" class="logo">
                    </div>
                    }
                </div>

                <div class="logo-group">
                    @for (company of logos; track company.company_name) {
                    <div class="logo-item">
                        <img [src]="company.logo" [alt]="company.company_name" class="logo">
                    </div>
                    }
                </div>
            </div>

            <div class="fade-overlay fade-right"></div>
        </div>
    </section>
</div>